{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parallax Effect</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    href="https://fonts.googleapis.com/css2?family=Audiowide&family=Orbitron:wght@400..900&family=Tektur:wght@400..900&display=swap"
    rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
        header h1{
            background-image: url('{% static "images/rubiks-bg.jpg" %}'), linear-gradient( rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
        }
    </style>
</head>
<body>

    <header class="header">
        <h1>FUNACT</h1>
        <div class="navbar">
            <a href="">Home</a>
            <a href="">Shop</a>
            <a href="">Contact</a>
        </div>
    </header>

    <div class="hero">
        <div class="content">
            
            <div class="hero-text-section">
                <h1>Explore Worlds <br> Beyond Imagination</h1>
                <p>Discover a deeper gaming experience1 with the <br> innovative PS5® controller.</p>
            </div>
            <div class="hero-img-section">
                <img src="{% static 'images/controler-2.png' %}" alt="">
            </div>
        </div>
    </div>



    <!-- <div class="parallax"> -->
        <!-- Fixed Background Image -->
        <!-- <img id="bg-main" src="{% static 'images/hero-img-bg.png' %}" alt="Background"> -->

        <!-- Floating Elements -->
        <!-- <img id="bg-1" class="bg" src="{% static 'images/horizon-bird.png' %}" alt="Bird">
        <img id="bg-2" class="bg" src="{% static 'images/kertos.png' %}" alt="Kertos">
        <img id="bg-3" class="bg" src="{% static 'images/wou-kong.png' %}" alt="Wou Kong">
        <img id="bg-4" class="bg" src="{% static 'images/spiderman.png' %}" alt="Spiderman">
        <img id="bg-5" class="bg" src="{% static 'images/uncharted.png' %}" alt="Uncharted">
        <img id="bg-6" class="bg" src="{% static 'images/hot-wheels.png' %}" alt="Hot Wheels">
        <img id="bg-7" class="bg" src="{% static 'images/horizon.png' %}" alt="Horizon">
        <img id="bg-8" class="bg" src="{% static 'images/cod.png' %}" alt="COD">
    </div>
    <div class="secound">
        <h1>Spiderman</h1>

    </div>     -->

    <script>
        window.addEventListener("scroll", function () {
            let scrollTop = window.scrollY;

            // Move elements at different speeds
            document.getElementById("bg-1").style.transform = `translate(-50%, calc(-20% + ${scrollTop * 0.2}px))`;
            document.getElementById("bg-2").style.transform = `translate(-50%, calc(-50% + ${scrollTop * 0.3}px))`;
            document.getElementById("bg-3").style.transform = `translate(-50%, calc(-50% + ${scrollTop * 0.4}px))`;
            document.getElementById("bg-4").style.transform = `translate(-50%, calc(-50% + ${scrollTop *1}px)`;
            document.getElementById("bg-5").style.transform = `translate(-50%, calc(-50% + ${scrollTop * 0.6}px))`;
            document.getElementById("bg-6").style.transform = `translate(-50%, calc(-50% + ${scrollTop * 0.7}px))`;
            document.getElementById("bg-7").style.transform = `translate(-50%, calc(-50% + ${scrollTop * 0.8}px))`;
            document.getElementById("bg-8").style.transform = `translate(-50%, calc(-50% + ${scrollTop * 0.9}px))`;
        });
    </script>
</body>
</html>
