
#bg-main {
  position: relative;
  height: 100vh;
  width: 100%;
  /* display:none; */
  background: no-repeat fixed center center;
  background-size: cover;
  padding: 0%;
  margin: 0%;
  background-attachment:fixed ;

}
body{
  padding: 0%;
  margin: 0%;
  /* background-color: black; */
}

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  visibility: visible;
  /* background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(100px); */

}

.logo-container{
  width: 20%;
  display: flex;
}

.logo-container span{
  height: fit-content;
}

.navbar-content {
  position: relative;
}

header h1 {
  font-family: "Tektur", sans-serif;
  font-weight: 900;
  font-size: 2.8rem;
  margin: 0.5rem;
  /* background-image: url('{% static "images/rubiks-bg.jpg" %}'); */
  color: transparent;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-color: black;
  background-clip: text;
  background-size: 200px;
  background-position: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25%;
}

.navbar a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.867);
  font-family: "Orbitron", sans-serif;
  font-style: bold;
  font-weight: 600;
  font-size: calc(100vw / 70);
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

.navbar a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.navbar a:hover:after {
  width: 100%;
  left: 0;
}

.parallax-section{
 position: relative;
    height: 100vh; /* Make each section take up the full viewport height */
    background-size: cover;
    background-attachment: fixed; /* This is the key for the basic parallax effect */
    background-position: center;
}

.hero {
  width: 100%;
  padding-top: 2rem;
  /* background: linear-gradient(-90deg, rgba(63, 94, 251, 1) 10%, rgb(255, 74, 110) 90%); */
  background-image: radial-gradient(
    circle 710px at 40% 10%,
    rgba(37, 89, 222, 1) 0%,
    rgba(37, 89, 222, 1) 7.5%,
    rgb(0, 0, 125) 44.7%
  );
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: auto;
}
.hero-text-section {
  width: 50%;
  font-family: "Audiowide", sans-serif;
}

.hero-text-section h1 {
  text-align: center;
  font-size: calc(100vw / 35);
  font-weight: 600;
  color: white;
}

.hero-text-section p{
  color: rgb(222, 227, 255);
  text-align: center;
}
.hero-img-section {
  width: 60%;
  height: 850px;
  /* Set container height */
  display: flex;
  padding: 0%;
  margin: 0%;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  /* background-color: black; */
}

.hero-img-section img {
  width: 60%;
  height: auto;
  object-fit: cover;
  position: absolute;
  /* Stack images */
  transition: all 1s ease-in-out;
  transition: float 1s;
}

/* Make sure the hidden image starts below the container */
.hidden-img {
  top: 100%;
  /* opacity: 0; */
  position: absolute;

}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }

  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translatey(-20px);
  }

  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
}

/* shop section  */






.logo{
  height: auto;
  width: 5rem;
}


/* secound level 100vh  game ball section  */

.secoud{
  width: 100%;
  height: 100vh;
  position: relative;
}

.background-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105vh;
  object-fit: cover;
  z-index: 1;
}

.bg-2{
   position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100vh; */
  object-fit: cover;
  z-index: 1;
}

.game-ball-img{
  height: auto;
  width: 50vw;
  object-fit: cover;
  position: absolute;
  left:28%;
  rotate: 180deg;
}

.game-ball-container{
  position: relative;
  top: 0;
  padding: 40px;
  height: 100vh;
  width:95.5%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background: linear-gradient(180deg, #ffffff 0%, #ffffff 97.99%); */
  z-index: 2;
}
.game-text{
  width: 30%;
  color: white;
}
.game-text h1{
  font-size: calc(100vh / 20);
  font-family: "Audiowide", sans-serif;
  /* color: #0000ff; */
  text-align: center;
}

.game-text p{
  font-size: calc(100vh / 45);
  font-family: "Barlow", sans-serif;
  text-align: center;
  /* color: #0000ff; */
}

.about{
  padding: 0%;
  margin: 0%;
}

/* shop section  */


.shop {
  /* padding-top: 10rem; */
  width: 100%;
  height: 105vh;
  
  background-color: #75bcff5b;
  position: relative;
  /* z-index: 3; */
  font-family: "Barlow", sans-serif;
}

.element {
  position: absolute;
  /* background-color: #ffeeefb0; */
  content: "";
  width: 25rem;
  border: 1px;
  height: 25rem;
  border-radius: 50%;
  display: inline-block;
  filter: blur(26rem);
  z-index: 1;
}

/* .decoration .decor-bg{
    filter: blur(8px);
    -webkit-filter: blur(8px);
    width: 30vw;
    height: 75vh;
    position: absolute;
    top:0;
    z-index: 2;
    background-color: #220000;
} */

.decoration {
  position: relative;
  z-index: 3;
  display: flex;
  width: 45vw;
  flex-direction: column-reverse;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  background-color: #9ac4ff;
  border-radius: 20px;
  position: relative;
  top: 5rem;
  padding-top: 2rem;
  border-radius: 0 3rem 3rem 0;
}

.decoration span {
  /* position:absolute; */
  font-size: calc(100vh / 6.3);
  font-family: "Segoe UI Bold", sans-serif;
  font-weight: 1000;
  text-transform: uppercase;
  line-height: 1;
  rotate: 180deg;
  z-index: 4;
}

.shop-content {
  width: 50vw;
  height: auto;
  position: absolute;
  top: 20%;
  right: 20%;
  z-index: 5;
}

.combiner {
  position: relative;
}

.content-bg {
  /* background-color: #0c0f23; */
  width: 50vw;
  height: 70vh;
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(200px);
 border-radius: 1.5rem;
  box-shadow: 0 0 15px #afbaff;
}

.main-content {
  position: absolute;
  top: 0;
  right: 2%;
  padding: 1.5rem;
  color: rgba(0, 0, 125, 0.873);
  width: 60%;
  font-size: calc(100vw / 90);
}

.main-content h1 {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3rem;
  margin-bottom: 0;
  padding: 0;
}

.main-content h3{
    margin-top:3px;
    text-transform: capitalize;
}

.color span:nth-child(0){
    background-color: white;
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
}

#shop-image {
  position: absolute;
  top: 25%;
  z-index: 6;
  width: 35vw;
  height: auto;
  left: 10%;
}


/* .contact{
  width: 100%;
  height: 100vh;
  position: relative;
}

.contact h1 {
  position: absolute;
  top: 8%;
  left: 18%;
  font-size: calc(100vw / 34);
  width: fit-content;
  margin:0;
  /* padding-left: 14%; */
  /* transform: skewY(-14deg);
    text-transform: uppercase;
    font-family: verdana; */
    /* font-size: 4em; */
    /* font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

form{
  position: absolute;
  top: 20%;
  left: 20%;
}

.input, button {
  width: 100%;
  height: 40px;
  position: relative;
  /* padding: 10px; */
  /* border: 0.1px solid #575cb5; */
  /* font-family: "Segoe UI Bold", sans-serif;
} */

/* button { 
  background: #6d74e3;
  border: none;

}

.wrapper {
  position: relative;
  transform: skewY(-14deg);
}

.wrapper li, button {
  position: relative;
  list-style: none;
  width: 200px;
  z-index: var(--i);
  transition: 0.3s;
  color: white;
}

.wrapper li::before, button::before {
  position: absolute;
  content: '';
  background: #6d74e3;
  top: 0;
  left: -40px;
  width: 40px;
  height: 40px;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.3s;
}

.wrapper li::before{
  height: 42px;
}

.wrapper li::after, button::after {
  position: absolute;
  content: '';
  background: #6d74e3;
  width: 204px;
  height: 40px;
  top: -40px;
  left: 0;
  transform-origin: bottom;
  transform: skewX(45deg);
  transition: 0.3s;
}

.wrapper li:nth-child(1)::after, .wrapper li:nth-child(1)::before {
  background-color: #d8daf7;
}

.wrapper li:nth-child(2)::after, .wrapper li:nth-child(2)::before {
  background-color: #c2c5f3;
}

.wrapper li:nth-child(3)::after, .wrapper li:nth-child(3)::before {
  background-color: #a8adeb;
}

.wrapper li:nth-child(4)::after, .wrapper li:nth-child(4)::before {
  background-color: #9198f2;
}


li .input {
  outline: none;
  border: none;
  color: black;
}

li .input::placeholder {
  color: black;
}

li:nth-child(1) .input {
  background: #d8daf7;
}

li:nth-child(2) .input {
  background: #c2c5f3;
}

li:nth-child(3) .input {
  background: #a8adeb;
}

li:nth-child(4) .input {
  background: #9198f2;
}




li:nth-child(1) .input:focus {
  outline: none;
  border: 3.5px solid #d8daf7;
}

li:nth-child(2) .input:focus {
  outline: none;
  border: 3px solid #c2c5f3;
}

li:nth-child(3) .input:focus {
  outline: none;
  border: 3.5px solid #a8adeb;
}
li:nth-child(4) .input:focus {
  outline: none;
  border: 3.5px solid #9198f2;
}

.wrapper li:hover, button:hover {
  transform: translateX(-20px);
}

button:hover, button:hover::before, button:hover::after {
  background: #575cb5;
}

button:active {
  transform: translateX(-15px);
}

button{
  width: 204px;
} */

/* contact-section */

.contact-section{
  position: relative;
    height: 100vh;
}

.contact_us_6 * {
  position: relative;
  top: 0;
  z-index: 2;
  font-family: "Barlow", sans-serif;
}

.contact_us_6 .text-blk {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  line-height: 25px;
}

.contact_us_6 .responsive-cell-block {
  min-height: 75px;
}

.contact_us_6 input:focus,
.contact_us_6 textarea:focus {
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
}

.contact_us_6 .container-block {
  min-height: 75px;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
}

.contact_us_6 .responsive-container-block {
  min-height: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.contact_us_6 .responsive-container-block.big-container {
  padding-top: 10px;
  padding-right: 30px;
  width: 35%;
  padding-bottom: 10px;
  padding-left: 30px;
  background-color: #03a9f4;
  position: absolute;
  height: 950px;
  right: 0px;
}

.contact_us_6 .responsive-container-block.container {
  position: relative;
  min-height: 75px;
  flex-direction: row;
  z-index: 2;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  padding-right: 30px;
  padding-bottom: 0px;
  padding-left: 30px;
  max-width: 1320px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.contact_us_6 .container-block.form-wrapper {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(50px);
  max-width: 450px;
  text-align: center;
  padding-top: 50px;
  padding-right: 40px;
  padding-bottom: 50px;
  padding-left: 40px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  margin-top:90px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
  border-radius: 22.5px;
}

.contact_us_6 .text-blk.contactus-head {
  font-size: 36px;
  line-height: 52px;
  font-weight: 900;
  margin: 0.5rem;
}

.contact_us_6 .text-blk.contactus-subhead {
  color: #9c9c9c;
  width: 300px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  display: none;
}

.contact_us_6 .responsive-cell-block.wk-desk-6.wk-ipadp-6.wk-tab-12.wk-mobile-12 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 26px;
  margin-left: 0px;
  min-height: 50px;
}

.contact_us_6 .input {
  width: 100%;
  height: 50px;
  padding-top: 1px;
  padding-right: 15px;
  padding-bottom: 1px;
  padding-left: 15px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #eeeeee;
  border-right-color: #eeeeee;
  border-bottom-color: #eeeeee;
  border-left-color: #eeeeee;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
  color: black;
}

.contact_us_6 .textinput {
  width: 98%;
  min-height: 80px;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: #eeeeee;
  border-right-color: #eeeeee;
  border-bottom-color: #eeeeee;
  border-left-color: #eeeeee;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  font-size: 16px;
}

.contact_us_6 .submit-btn {
  width: 98%;
  background-color: #03a9f4;
  height: 60px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: outset;
  border-right-style: outset;
  border-bottom-style: outset;
  border-left-style: outset;
  border-top-color: #767676;
  border-right-color: #767676;
  border-bottom-color: #767676;
  border-left-color: #767676;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.contact_us_6 .form-box {
  z-index: 2;
  margin-top: 0px;
  margin-right: 48px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.contact_us_6 .text-blk.input-title {
  text-align: left;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  font-size: 14px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  font-weight: 400;
  margin-left: 0px;
  color: #ffffff;
}

.contact_us_6 ::placeholder {
  color: #dadada;
}

.contact_us_6 .mob-text {
  display: block;
  text-align: left;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 25px;
  margin-left: 0px;
}

.contact_us_6 .responsive-cell-block.wk-tab-12.wk-mobile-12.wk-desk-12.wk-ipadp-12 {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.contact_us_6 .text-blk.contactus-subhead.color {
  color: white;
}

.contact_us_6 .map-box {
  display:none;
  max-width: 800px;
  max-height: 520px;
  width: 100%;
  height: 520px;
  background-color: #d9d9d9;
  background-image: url("https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/sc23.png");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
}

.contact_us_6 .map-part {
  width: 100%;
  height: 100%;
}

.contact_us_6 .text-blk.map-contactus-head {
  font-weight: 900;
  font-size: 22px;
  line-height: 32px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  color: #03a9f4;
}

.contact_us_6 .text-blk.map-contactus-subhead {
  max-width: 325px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  color: #ffffff;
}

.contact_us_6 .social-media-links.mob {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
  width: 230px;
  display: flex;
  justify-content: flex-start;
}

.contact_us_6 .link-img {
  width: 30px;
  height: 30px;
  margin-top: 0px;
  margin-right: 25px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.contact_us_6 .link-img.image-block {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.contact_us_6 .social-icon-link {
  margin: 0 25px 0 0;
  padding: 0 0 0 0;
}

@media (max-width: 1024px) {
  .contact_us_6 .responsive-container-block.container {
    justify-content: center;
  }

  .contact_us_6 .map-box {
    position: absolute;
    top: 0px;
    max-height: 320px;
  }

  .contact_us_6 .map-box {
    max-width: 100%;
    width: 100%;
  }

  .contact_us_6 .responsive-container-block.container {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .contact_us_6 .map-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact_us_6 .container-block.form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_6 .mob-text {
    display: block;
  }

  .contact_us_6 .form-box {
    margin-top: 200px;
    margin-right: 60px;
    margin-bottom: 40px;
    margin-left: 0px;
  }

  .contact_us_6 .link-img {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
    justify-content: space-evenly;
  }

  .contact_us_6 .social-media-links.mob {
    justify-content: space-evenly;
  }

  .contact_us_6 .responsive-cell-block.wk-desk-7.wk-ipadp-12.wk-tab-12.wk-mobile-12 {
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
  }

  .contact_us_6 .text-blk.contactus-subhead {
    display: block;
  }

  .contact_us_6 .mob-text {
    text-align: center;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_6 .responsive-container-block.container {
    flex-wrap: wrap;
  }

  .contact_us_6 .form-box {
    margin-top: 200px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
  }
}

@media (max-width: 768px) {
  .contact_us_6 .submit-btn {
    width: 100%;
  }

  .contact_us_6 .input {
    width: 100%;
  }

  .contact_us_6 .textinput {
    width: 100%;
  }

  .contact_us_6 .container-block.form-wrapper {
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_6 .text-blk.input-title {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .contact_us_6 .form-box {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }

  .contact_us_6 .container-block.form-wrapper {
    padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
  }

  .contact_us_6 .mob-text {
    display: block;
  }

  .contact_us_6 .responsive-container-block.container {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }

  .contact_us_6 .form-box {
    margin-top: 200px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_6 .container-block.form-wrapper {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_6 .form-box {
    margin-top: 220px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_6 .form-box {
    margin-top: 220px;
    margin-right: 0px;
    margin-bottom: 50px;
    margin-left: 0px;
  }

  .contact_us_6 .text-blk.contactus-head {
    font-size: 32px;
    line-height: 40px;
    color: #ffffff !important;
  }
}

@media (max-width: 500px) {
  .contact_us_6 .container-block.form-wrapper {
    padding-top: 50px;
    padding-right: 15px;
    padding-bottom: 50px;
    padding-left: 15px;
  }

  .contact_us_6 .container-block.form-wrapper {
    margin-top: 60px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .contact_us_6 .responsive-cell-block.wk-ipadp-6.wk-tab-12.wk-mobile-12.wk-desk-6 {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
    margin-left: 0px;
  }

  .contact_us_6 .responsive-container-block {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 35px;
    margin-left: 0px;
  }

  .contact_us_6 .text-blk.input-title {
    font-size: 12px;
  }

  .contact_us_6 .text-blk.contactus-head {
    font-size: 26px;
    line-height: 35px;
  }

  .contact_us_6 .input {
    height: 45px;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800&amp;display=swap');

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 39.333%;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(200px);
  padding: 2rem;
  border-radius: 1rem;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}